<!--投稿一覧 部分テンプレート-->

<table class="table">

  <thead>
    <tr>
      <th><!--Profile_Image--></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"><!--いいね/コメント/余白--></th>
    </tr>
  </thead>

  <tbody>
  <% books.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user.id) do %>
         <%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg",size:'40x40' %>
        <% end %>
      </td>
      <td>
        <%= link_to book.title,book_path(book.id) %>
      </td>
      <td>
        <%= book.body %>
      </td>

      <!--いいね機能-->
      <td id="favorite_btn_<% book.id %>">
        <%= render 'favorites/favorite', book: book %>  <!--いいね機能の部分テンプレート-->
      </td>

      <!--コメント機能-->
      <td>
        コメント数: <%= book.book_comments.count %>
      </td>


    </tr>
  <% end %>
  </tbody>

</table>
