<br>
<div class="container px-5 px-sm-0">

<!--バリデーションメッセージ-->
<div id="error_explanation">
<% if @book.errors.any? %>
 <h3><%= @book.errors.count %> errors prohibited this obj from being saved: </h3>
  <ul>
     <% @book.errors.full_messages.each do |message| %>
    <li>
     <%= message %>
    </li>
     <% end %>
  </ul>
<% end %>
</div>

<div class="row">

<!-- サイドバー -->
<div class="col-md-3">
  <%= render 'users/userinfo',user: @user %>  <!--User info 部分テンプレート-->
  <%= render 'books/newbook',book: @book %>  <!--New book 部分テンプレート-->
</div>


<!--投稿一覧-->
<div  class="col-md-8 offset-md-1">
<h2>Books</h2>

<%= render 'bookindex', books: @books %>  <!--投稿一覧 部分テンプレート-->

</div>

</div>
</div>