<!--vies/books/show-->
<h2>Book detail</h2>

<table>
<!--user/showと間違っていたので訂正必要！-->
  <tbody>
    <tr>
      <td>
        <a><%= attachment_image_tag @user,:profile_image %></a>
        <br>
        <%= link_to @user.name, user_path(@user) %>
      </td>
      
      <td><%= link_to @book.title, book_path(@book) %></td>
      
      <td><%= @book.body %></td>
      
      <!--投稿編集ボタン (投稿時のcreateアクションで ~user==current_user の定義が必要)-->
      <td>
        <% if @user.user == current_user %>
        <%= link_to "Edit",edit_book_path(@book) %>
        <% end %>
      </td>
      
      <!--投稿削除ボタン (投稿時のcreateアクションで ~user==current_user の定義が必要)-->
      <td>
        <% if @user.user == current_user %>
          <%= link_to "Destroy",books_path, method: :delete %>
        <% end %>
      </td>
    </tr>
  </tbody>
  
</table>