<!--処理成功メッセージ-->
<p id="notice">
  <%= notice %>
</p>

<div class="container px-5 px-sm-0">
<div class="row">

<!-- サイドバー -->
<div class="col-md-3">
  <%= render 'users/userinfo',user: @user %>  <!--User info 部分テンプレート-->
  <%= render 'books/newbook',book: @book_new %>  <!--New book 部分テンプレート-->
</div>

<!--ブック詳細-->
<div  class="col-md-8 offset-md-1">
<h2>Book detail</h2>

<table class="table table-hover table-invirse">
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(@user) do %>
         <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format:'jpeg', fallback: "no_image.jpg",size:'40x40' %><br>
         <%= @user.name %>
        <% end %>
      </td>
      
      <td><%= link_to @book.title, book_path(@book) %></td>
      
      <td><%= @book.body %></td>
      
      <!--投稿編集ボタン-->
      <td>
        <% if @user == current_user %>
        <%= link_to "Edit",edit_book_path(@book) ,class:"btn btn-success"%>
        <% end %>
      </td>
      
      <!--投稿削除ボタン-->
      <td>
        <% if @user == current_user %>
          <%= link_to "Destroy",book_path(@book), method: :delete ,class:"btn btn-danger", "data-confirm"=>"本当に消しますか？" %>
        <% end %>
      </td>
      
    </tr>
  </tbody>
  
</table>
</div>

</div>
</div>